body {
    text-align: center;
}
.row {
    float: left;    /*gör så att allt i classen float-ar till vänster*/
}
div {               /*sätter storleken på lådornA*/
    width: 200px;
    height: 200px;
}
.box1 {             /*ger alla lådor en egen färg*/
    background-color: #ff0000;
}
.box2 {
    background-color: #ff8000;
}
.box3 {
    background-color: #ffff00;
}
.box4 {
    background-color: #00ff00;
}
.box5 {             /*centrerar texten*/
    text-align: center;
    vertical-align: middle;
}
.box6 {
    background-color: #00e2ff;
}
.box7 {
    background-color: #0031ff;
}
.box8 {
    background-color: #9300ff;
}
.box9 {
    background-color: #ff0080;
}