body {
    margin: 0;
    padding: 0;
}
.container {
    width: 300px;
    height: 300px;
    margin: 200px auto;
}
.box {
    width: 100px;
    height: 100px;
    background-color: #000;
    float: left;
    transform: rotate(45deg);
}
.box.n {
    margin: 0 100px 0 100px;
    animation: flyRot 2s 1s;
}
.box.w {
    margin: 0 0 0 0;
    animation: flyRot 2s 2s;
}
.box.e {
    margin: 0 0 0 100px;
    animation: flyRot 2s;
}
.box.s {
    margin: 0px 0 0 100px;
    animation: flyRot 2s 1s;
}
@keyframes flyRot{
    0% {
        transform: translateX(-1000px);
    }
    50% {
        transform: translateX(0);
        transform: rotate(0);
    }
    100% {
        transform: translateX(0);
        transform: rotate(45deg);
    }
}