body {
    font-family: sans-serif;
}
body * {
    width: auto;
    margin: auto;
    text-align: center;
}
.button {
    background-color: #c13a3a;
    width: 3em;
    font-size: 2em;
    color: #ffffff;
    padding: 0.5em;
    margin: 1em auto;
    border-radius: 0.5em;
    border: solid #cb0b0b;
    text-decoration: none;
}
.buttonlink {
    color: #ffffff;
    text-decoration: none;
}
.button:hover {
    background-color: #cb0b0b;
    border-style: solid;
    border-color: #cb0b0b;
    color: #ffffff;
}