/*Erik Hacker*/

/* ----- Bara lite bakgrund ----- */
body {
    background-color: #b5b5b5;
    font-family: sans-serif;
    font-size: 1em;
    text-align: center;
}
.page {
    width: 500px;
    background-color: #ffffff;
    padding: 2%;
    margin: auto;
}

/* ----- BUTTONS ----- */

.button {       /*gör så att knappen blir fin; padding, färg, rundad osv.*/
    margin: 2% auto;
    text-align: center;
    background-color: hotpink;
    padding: 2% 10%;
    border-radius: 1em;
    border: solid;
    border-color: hotpink;
    color: white;
    text-decoration: none;
}

.button:hover { /*ändrar knappens färg när man hovrar över den*/
    color: hotpink;
    background-color: #ffffff;
    transition: 0.3s;
}