body {
    font-family: "Comic Sans", Arial, sans-serif;
}
li {
    background-color: darkgreen;
    max-width: 50%;
    border-style: inset;
    color: white;
    list-style: none;
}
input {
    background-color: darkgreen;
    border: none;
}
.done {
    background-color: white;
    text-decoration: line-through;
    color: black;
}